version: '3.8'

services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  backend:
    build:
      context: ./backend
    container_name: equipment-backend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=5000
      - MONGO_URI=mongodb+srv://webstorebs_db_user:p6PYg8w4McPQ5gzS@cluster0.2mfafm9.mongodb.net/EquipmentRental?retryWrites=true&w=majority&appName=Cluster0
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      - ./backend/uploads:/usr/src/app/uploads

  frontend:
    build:
      context: ./frontend
    container_name: equipment-frontend
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo-data:
